@model IEnumerable<SampleAppDemo.Models.ProductFeedback>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RatingType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductReview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductFeedback1.RatingType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductFeedback2.RatingType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RatingType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductReview)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductFeedback1.RatingType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductFeedback2.RatingType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RatingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RatingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RatingID })
        </td>
    </tr>
}

</table>
